.Toastify__toast-container--center-center {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.Toastify__toast--success {
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 128, 0, 0.2);
}

.Toastify__toast--error {
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(255, 0, 0, 0.2);
}
